@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue-500: #5374fa;
  --color-teal-500: #64ffda;
  --color-gray-800: #444444;
  --font-sans: Inter, sans-serif;
  --font-mono: 'Roboto Mono', sans-serif;
}
